@charset "UTF-8";

/*
#000000
#680148
#8F84F0
#6C7ED9
#7CB1F8
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    color: #680148;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Libre Baskerville', serif;
}

#text {
    font-size: 1.25em;
    text-align: center;
}

section {
    margin: 10px;
}

section>p {
    margin: 0px;
}

h1 {
    font-size: 2em;
    color: #8F84F0;
}

h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div>p {
    margin-top: 0px;
    font-size: small;
}

#volt {
    color: #680148;
    text-align: center;
    font-weight: bolder;
}

#tip {
    font-style: italic;
    font-size: 0.85em;
}

.button {
    background-color: #680148;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 15px;
}

#size {
    margin-bottom: 0px;
}

section>h2 {
    text-align: center;
    color: #680148;
    font-size: 1em;
}

#project {
    color: black;
    font-weight: bold;
}

#project-div {
    text-align: center;
    background-color: #7CB1F8;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    width: 17%;
    margin: 0 auto;
}

#doom {
    text-align: center;
    font-size: 1.1em;
}

#doom-img {
    margin: 15px;
}

a {
    color: #6C7ED9;
    text-decoration: none;
}

a:hover {
    color: #680148;
}

article {
    font-size: 1.1em;
    text-align: center;
}

article>div>p {
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer>nav {
    padding-top: 10px;
}

footer>p {
    margin-top: 0px;
    padding-bottom: 10px;
}